.tabs-3L9Rgq {
  flex-direction: row-reverse;
}

.tab-XC_yrg {
  flex: 1;
}

[aria-controls="1-tab"] {margin: 0px 10px 0px 0px !important;}

[aria-controls="0-tab"] {margin: 0px 0px 0px 10px !important;}